<p>
    I am a PhD student at the Hasso Plattner Institute, University of Potsdam, under the supervision of <a href="https://hpi.de/lehmann/home.html">Anja Lehmann</a>. 
    Before joining HPI, I earned my MSc in Computer Science and Engineering from Sabancı University in 2022. I received my BSc in Computer Engineering from Istanbul Technical University in 2020.

    <h3> Research Interests </h3>

    I am interested in provable security in general. Currently, my research focuses on privacy-preserving authentication and threshold/multi-signatures. My work involves designing new constructions of these schemes &mdash; either generically or based on algebraic assumptions &mdash; and formally analyzing the relationships between various cryptographic primitives.
</p>

<h3>Contact</h3>
<p>Email: cavit dot oezbay at hpi dot de</p>
