<h3>Subreviewed for</h3>
<p>ASIACRYPT'25, CRYPTO'23</p>


<h3>Teaching</h3>
<h4>Hasso Plattner Institute (Teaching Assistant)</h4>
<ul>
    <li>Current Topics in Cryptography, Winter 24/25</li>
    <li>Cryptographic Protocols, Summer 23/24</li>
    <li>Anonymous Credentials, Summer 22/23</li>
    <li>MLS-based Multi-Client Authentication, Winter 22/23</li>
</ul>
<h4>Sabancı University (Teaching Assistant)</h4>
<ul>
    <li>Formal Languages and Automata Theory, Winter 20/21, Summer
    20/21, Winter 21/22, Summer 21/22</li>
</ul>
