<!DOCTYPE html>
<html lang="en">
<head>
<title>Cavit Özbay</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="style/w3.css">
<link rel="stylesheet" href="style/mine.css">

<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<meta name="google-site-verification" content="0UiZ24HWsPI7y9_r89Zv9S1I24z7fR5RTAE-Nitphn8" />
<meta name="keywords" content="cavit, özbay, ozbay, oezbay, cryptography, hpi, provable, security,"
<meta name="description" content="The personal web page of cryptography researcher Cavit Özbay who is working at Hasso Plattner Institute, University of Potsdam."
<link rel="canonical" href="https://cavitozbay.github.io/">
</head>
<body class="mainbody">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-top w3-large w3-padding sidebar"  id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" id="topbar-close">Close Menu</a>
  <div class="w3-container">
    <img class="img-responsive mypic" src="img/mypic.jpg" alt="A picture of Cavit Özbay." ><br>
    <h3 class="w3-padding-32 sidebar-name" style="text-align: center;"><b>Cavit Özbay</b></h3>
  </div>
  <div class="w3-bar-block">    
    {% for page in pages %}
      <a href="#contentpageid{{loop.index}}" onclick="w3_close()" class="w3-bar-item w3-button sidebar-button">{{page.title}}</a> 
    {% endfor %}
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-xlarge w3-padding topbar">
  <a href="javascript:void(0)" class="w3-button w3-margin-right" onclick="w3_open()" id="topbar-button">☰</a>
  <!-- <span>Cavit Özbay</span> -->
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<div class="w3-main contentbar" style="margin-left:340px;margin-right:40px;margin-top:80px;max-width:1000px">

  <!-- <div class="w3-container" style="margin-top:80px" id="headerr">
  </div> -->
  
  {% for page in pages %}
    <div class="w3-container contentpage" id="contentpageid{{loop.index}}" >
      <h1 class="w3-xxxlarge pagetitle"><b>{{page.title}}</b></h1>
      <hr class="w3-round titlesep">
      {{page.content}}
    </div>
  {% endfor %}

</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Cavit Özbay",
  "url": "https://cavitozbay.github.io",
  "sameAs": [
    "https://www.linkedin.com/in/cavitozbay/",
    "https://github.com/cavitozbay/",
    "https://scholar.google.com/citations?user=_TkXhRIAAAAJ&hl=tr&oi=ao",
    "https://hpi.de/lehmann/team/cavit-oezbay"
  ],
  "jobTitle": "Researcher"
}
</script>
</body>
</html>
